.input-group-text input[type="color"] {
  width: 27px;
  overflow: hidden;
  padding: 0;
  border: 0 !important;
  background: transparent;
  border-bottom: 0;
}

.list-group-item {
  overflow: hidden;
}

.list-group-item-border {
  width: 6px;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: red;
  display: inline-block;
}
